
body {
    background-color: #ffffff;
    margin: 0;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 1vw;
    color: #e1f4f3;
    content: "...";
    display: block;
    height: 5%;
    width: 5%;

}

h1 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    margin: 0;
}

.headBar {
    align-content: center;
    background-color: #333333;
    border: none;
    display: flex;
    height: 15vh;
    margin: 0;
    width: 100%;
}

.huge{
    font-size: 10rem;
    font-weight: bold;
}